* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --fondo: #011a27;
    --grisCol: #c05805;
    --grisClaro: #2e2300;
    --EColorInh: #20232a;
    --EColorAluminum: #acbebe;
    --fontLora: "Lora", serif;
}
body{
    font-family: var(--fontLora);
}
.fondo_app {
    background-image: url("/img/fondoresponsive.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}
.navbar-toggler{
    background-color: white;
    
}

.presentacion {
    background-color: var(--EColorInh);
    border-color: var(--fondo) !important;
    color: white;
    font-family: var(--fontLora);

}
.btn_contacto{
    background-color: var(--grisCol);
}
.img_fondo{
    padding-top: 4rem;
}
.card_proyect {
    background-color: var(--EColorInh);
    border-color: var(--EColorAluminum) !important;
    color: white;
    font-family: var(--fontLora);
}
.link_button{
    background-color: #ffffff;
}
.tablet{
    width: 150px;
    height: 100px;
    padding: 5px;
    border-color: var(--EColorInh) !important;
}
.desktop{
    width: 200px;
    height: 140px;
    padding: 5px;
    margin-inline: 10px;
    border-color: var(--EColorInh) !important;
}
.mobile{
    width: 70px;
    height: 120px;
    padding: 1px;
    border-color: var(--EColorInh) !important;
}